{{diagnostic}}
<div class="container">
    <h1>Resume Builder Form</h1>
    <br>
    <form (ngSubmit)="onSubmit()" #candidateForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="name">Position</label>
        <input type="text" class="form-control" id="label" required [(ngModel)]="model.label" name="label">
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
      </div>

      <div class="form-group">
        <label for="name">Phone Number</label>
        <input type="text" class="form-control" id="phone" required>
      </div>

      <div class="form-group">
        <label for="name">Summary</label>
        <br>
        <textarea class="form-control" id="summary" rows="4" onfocus="this.value='';">A bit about yourself...</textarea>
      </div>

      <div class="form-group">
        <label for="name">Website</label>
        <input type="text" class="form-control" id="website" required>
      </div>

      <div class="form-group">
        <label for="name">Github</label>
        <input type="text" class="form-control" id="github" required>
      </div>

      <div class="form-group">
        <label for="name">LinkedIn</label>
        <input type="text" class="form-control" id="linkedin" required>
      </div>

      <div class="form-group">
        <label for="power">Highest Level of Education</label>
        <select class="form-control" id="educationLevel" required>
          <option *ngFor="let lvl of educationLevel" [value]="lvl">{{lvl}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="schoolName">School Name</label>
        <input type="text" class="form-control" id="schoolName">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
