.basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  border-radius: 4px;

  &__pairs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }
}
