@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// normally would do a font specific scss but no time

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}