.form {
  display: flex;
  flex-direction: column;
  width: 500px;

  &__education {
    display: flex;
    flex-direction: column;
  }

  &__work {
    display: flex;
    flex-direction: column;
  }
}
